// Variables
$page-color: #1d1b27;
$text-color: #e6e6ff;
$text-color-dark: #727288;
$error-color: red;
$text-shadow-color: rgba(0, 0, 0, 0.5);
$box-shadow-color: rgba(0, 0, 0, 0.2);

// Font sizes
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 32px;

// Global styles
* {
  background-color: $page-color;
  color: $text-color;
  font-family: "Arial", sans-serif;
}

// Header styles
header {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: $font-size-xl;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 2px solid $text-color-dark;
  border-radius: 10px;
  box-shadow: 0 2px 4px $box-shadow-color;
}

#title {
  margin: 1rem;
  display: inline-block;
  text-shadow: 2px 2px 4px $text-shadow-color;
}

#note {
  font-style: italic;
  font-size: $font-size-s;
  color: $text-color-dark;
}

// Input and search button styles
label {
  display: inline-block;
  margin-right: 10px;
}

input {
  background-color: $text-color;
  color: $page-color;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  background-color: $text-color;
  color: $page-color;
  padding: 5px 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.error-message {
  color: $error-color;
  font-weight: bold;
}

// User and list styles
#user {
  margin: 0 1em 0 1em;
}

.user-name {
  font-size: $font-size-l;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 10px;
  display: inline-block;
  border: 2px solid $text-color-dark;
  border-radius: 10px;
}

.list {
  max-height: 128em;
  overflow: auto;
  border: 2px solid $text-color-dark;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 10px 4em;
}

.list-title {
  font-size: $font-size-l;
  font-weight: bold;
  margin-bottom: 1rem;
  text-decoration: underline;
}

// Media styles
.media {
  margin-bottom: 1rem;
  padding: 10px;
}

.media-image {
  width: 8em;
  float: left;
  margin-right: 10px;
  box-shadow: 0 2px 4px $box-shadow-color;
  padding: 2px;
  border: 2px solid $text-color-dark;
}

.media-title {
  font-size: $font-size-l;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}

.score {
  background-color: #333;
  color: #fff;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: $font-size-s;
  font-weight: bold;
}

.media-tags {
  font-size: $font-size-m;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.divider {
  border-top: 2px solid $text-color-dark;
}

.media-description {
  min-height: 6em;
}